




body {
    background-color: #FFF;
    
}

.container  {
    background: linear-gradient(to right, #fc4a1a, #f7b733);
    box-shadow: gray 2px 10px 5px 5px;
}

.btn {
    
    width: 150px;
}


.btn:hover {
    border-radius: 20px;

    width: 200px;
    transition: 1s;
    border: 2px solid black;
    
    font-size: 20px;
    
    
}

h2 {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-transform: capitalize;
}


.ma-couleur {
    background: linear-gradient(to right, #fc4a1a, #f7b733);
}

th, td, label {
    color: #ffffff;
    font-weight: bold;
}

.btn {
    background-color: #ffffff;
    color: orangered;
    font-weight: bold;
}

i {
    color: #fff;
}
i:hover {
    transition: 1s;
    color: black;
    font-size: 30px;
}

tr {
    font-weight: bold;
}

.test{
    position: absolute;
    display: none;
    background-color: rgba(255, 255, 255, 0.7);
    top: 15%;
    left: 25%;
    padding: 10px;
}